
@{
    ViewBag.Title = "aboutus";
    Layout = "~/Views/Shared/test.cshtml";
}


<div class="product-details-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
                <!-- Swiper -->
                <div class="swiper-container zoom-top">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide zoom-image-hover">
                            <img class="img-responsive m-auto" src="~/Upload/店.jpg" alt="">
                        </div>

                    </div>
                    <!-- Add Arrows -->

                </div>
            </div>
            <div class="col-lg-7 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                <div class="product-details-content quickview-content">
                    <h2>關於我們</h2>



                    <p class="quickview-para">來自九份山城得一間小咖啡店</p>
                    <div class="pro-details-quality">


                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

