@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/1.js"></script>


<!-- Hero/Intro Slider Start -->
<div class="section ">
    <div class="hero-slider swiper-container slider-nav-style-1 slider-dot-style-1">
        <!-- Hero slider Active -->
        <div class="swiper-wrapper">
            <!-- Single slider item -->
            <div class="hero-slide-item slider-height swiper-slide d-flex">
                <div class="container align-self-center">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7 col-md-7 col-sm-7 align-self-center">
                            <div class="hero-slide-content slider-animated-1">
                                <span class="category">Babka</span>
                                <h2 class="title-1">Coffee </h2>
                                <p>Welcome to the babka</p>
                                <a href="#" class="btn btn-lg btn-primary btn-hover-dark mt-5">Shop Now</a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 col-md-5 col-sm-5">
                            <div class="hero-slide-image">
                                <img src="~/HTML/assets/images/firstpage/1.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single slider item -->
            <div class="hero-slide-item slider-height swiper-slide d-flex">
                <div class="container align-self-center">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7 col-md-7 col-sm-7 align-self-center">
                            <div class="hero-slide-content slider-animated-1">
                                <span class="category">九份歐風鄉村</span>
                                <h2 class="title-1">咖啡 </h2>
                                <p>Hellllo</p>
                                <a href="#" class="btn btn-lg btn-primary btn-hover-dark mt-5">Shop Now</a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 col-md-5 col-sm-5">
                            <div class="hero-slide-image">
                                <img src="~/HTML/assets/images/firstpage/2.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Add Arrows -->
        <div class="swiper-buttons">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>

<!-- Hero/Intro Slider End -->
<!-- Product Category Start -->
<div class="section pt-100px pb-100px">
    <div class="container">
        <div class="category-slider swiper-container" data-aos="fade-up">
            <div class="category-wrapper swiper-wrapper">
                <!-- Single Category -->
                <div class=" swiper-slide">
                    <a href="~/ShoppingView/Index" class="category-inner ">
                        <div class="category-single-item">
                       <img src="/Upload/coffee.png" alt="" >
                            
                            <span class="title">巴西</span>
                        </div>
                    </a>
                </div>
                <!-- Single Category -->
                <div class=" swiper-slide">
                    <a href="~/ShoppingView/Index" class="category-inner ">
                        <div class="category-single-item">
                            <img src="/Upload/bean.png" alt="" >
                            <span class="title">美式</span>
                        </div>
                    </a>
                </div>
                <!-- Single Category -->
                <div class=" swiper-slide">
                    <a href="~/ShoppingView/Index" class="category-inner ">
                        <div class="category-single-item">
                            <img src="/Upload/coffee1.png" alt="" >
                            <span class="title">肯亞</span>
                        </div>
                    </a>
                </div>
                <!-- Single Category -->
                <div class=" swiper-slide">
                    <a href="~/ShoppingView/Index" class="category-inner ">
                        <div class="category-single-item">
                            <img src="/Upload/coffee-bag.png" alt="" >
                            <span class="title">藍山</span>
                        </div>
                    </a>
                </div>
                <!-- Single Category -->
                <div class="swiper-slide">
                    <a href="~/ShoppingView/Index" class="category-inner ">
                        <div class="category-single-item">
                            <img src="~/Upload/coffee-beans.png" alt="" >
                            <span class="title">曼特寧</span>
                        </div>
                    </a>
                </div>
                <!-- Single Category -->
            </div>
        </div>
    </div>
</div>

<!--  Blog area Start -->
<div class="main-blog-area pb-100px">
    <div class="container">
        <!-- section title start -->
        <div class="row">
            <div class="col-md-12" data-aos="fade-up">
                <div class="section-title text-center mb-11">
                    <h2 class="title">休閒的時光</h2>
                    <p class="sub-title">
                        喝一杯咖啡，拋開都市的喧囂，讓自己的心情淨空，享受片刻的寧靜。
                    </p>
                </div>
            </div>
        </div>
        <!-- section title start -->
        <div class="blog-slider swiper-container slider-nav-style-1" data-aos="fade-up" data-aos-delay="200">
            <!-- Start single blog -->
            <div class="swiper-wrapper">
                <div class="single-blog swiper-slide">
                    <div class="blog-image">
                        <a><img src="~/HTML/assets/images/firstpage/coffee1.jpg" class="img-responsive w-100" alt=""></a>
                    </div>
                    <div class="blog-text">

                        <h5 class="blog-heading"><a class="blog-heading-link" href="blog-single-left-sidebar.html">手做點心</a></h5>
                        <p class="blog-detail-text">老闆娘每天精心烘培得新鮮甜點，口感紮實帶著微微的甜味，喝咖啡時最好的夥伴。</p>
                        <br />
                        <a href="~/ShoppingView/Index" class="btn btn-lg btn-hover-color-primary btn-color-dark mt-5">了解更多</a>
                    </div>
                </div>
                <!-- End single blog -->
                <div class="single-blog swiper-slide">
                    <div class="blog-image">
                        <a ><img src="~/HTML/assets/images/firstpage/coffee2.jpg" class="img-responsive w-100" alt=""></a>
                    </div>
                    <div class="blog-text">
                     
                        <h5 class="blog-heading"><a class="blog-heading-link" href="blog-single-left-sidebar.html">綜合豆</a></h5>
                        <p class="blog-detail-text">使用15種咖啡豆調制而成，口感柔順輕甜，散發自然清香。</p>
                        <br />
                        <a href="~/ShoppingView/Index" class="btn btn-lg btn-hover-color-primary btn-color-dark mt-5">了解更多</a>
                    </div>
                </div>
                <!-- End single blog -->
                <div class="single-blog swiper-slide">
                    <div class="blog-image">
                        <a ><img src="~/HTML/assets/images/firstpage/coffee5.jpg" class="img-responsive w-100" alt=""></a>
                    </div>
                    <div class="blog-text">
                        
                        <h5 class="blog-heading"><a class="blog-heading-link" href="blog-single-left-sidebar.html">單品豆</a></h5>
                        <p class="blog-detail-text">
                            精選世界各國咖啡產區之優質農莊咖啡豆，因此蘊育出口味獨特，芳香甘醇的頂級咖啡豆。沖泡
                            後咖啡的穩定度極佳，可感受甘甜滋味，值得您細細品嚐。
                        </p>

                        <a href="~/ShoppingView/Index" class="btn btn-lg btn-hover-color-primary btn-color-dark mt-5">了解更多</a>
                    </div>
                </div>
                <!-- End single blog -->
                <div class="single-blog swiper-slide">
                    <div class="blog-image">
                        <a ><img src="~/HTML/assets/images/firstpage/coffee6.jpg" class="img-responsive w-100" alt=""></a>
                    </div>
                    <div class="blog-text">

                        <h5 class="blog-heading"><a class="blog-heading-link" href="blog-single-left-sidebar.html">台灣咖啡</a></h5>
                        <p class="blog-detail-text">來自台灣阿里山生產出來的咖啡豆豆粒碩大、香氣飽滿、口感滑順、甘甜、略帶微酸。</p>
                        <br />
                        <a href="~/ShoppingView/Index" class="btn btn-lg btn-hover-color-primary btn-color-dark mt-5">了解更多</a>
                    </div>
                </div>
                <!-- End single blog -->
            </div>
            <!-- Add Arrows -->
            <div class="swiper-buttons">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
</div>
<!--  Blog area End -->
